/ /.box-header
/ form start
.box.box-primary
  .box-header
    %h3.box-title
    = simple_form_for(@country_cost) do |f|
      .box-body.form-inputs
        = render :partial => '/shared/errors', locals: {model: @country_cost}
        = f.input :country_code
        = f.input :cpc
        = f.input :cpm
        = f.input :population

        = f.button :submit, :class => 'btn btn-primary'
        = link_to t('views.form.cancel'), country_costs_path, :class => 'btn btn-default'
