/ /.box-header
/ form start
.box.box-info
  .box-header
    %h3.box-title
    = simple_form_for [@campaign, @app_tracking], url: @app_tracking.new_record? ? campaign_app_trackings_path(date: date_to_iso_string(@date)) : campaign_app_tracking_path(date: date_to_iso_string(@date)) do |f|
      .box-body.form-inputs
        = render :partial => '/shared/errors', locals: {model: @app_tracking}
        = f.input :name
        = f.input :views
        = f.input :clicks
        = f.button :submit, :class => 'btn btn-primary'
        = link_to 'Cancel', campaign_app_trackings_path(date: date_to_iso_string(@date)), :class => 'btn btn-default'
