- breadcrumb :advertiser, @advertiser
- content_for :header do
  = t('views.advertisers.show.title')
.row
  .col-md-6
    .box.box-solid.box-primary
      .box-header
        %h3.box-title= t('views.advertisers.show.info')
        .box-tools.pull-right
          = link_to content_tag(:span, '', :class => 'glyphicon glyphicon-pencil'), edit_advertiser_path(@advertiser), :class => 'btn btn-primary btn-xs'
      / /.box-header
      .box-body.dl-horizontal
        %dl
          %dt= t('models.advertiser.fields.name')
          %dd= @advertiser.name
          %dt= t('models.advertiser.fields.contact')
          %dd= @advertiser.contact
          %dt= t('models.advertiser.fields.email')
          %dd= @advertiser.email
          %dt= t('models.advertiser.fields.status')
          - if @advertiser.status==Advertiser::STATUS_PUBLISHED
            %dd
              = link_to content_tag('i', '', :class => 'ion-checkmark-circled').html_safe, "",:class => 'text-green', :title => t('statuses.published')
          - elsif @advertiser.status==Advertiser::STATUS_EXPIRED
            %dd
              = link_to content_tag('i', '', :class => 'ion-close-circled').html_safe, "",:class => 'text-red', :title => t('statuses.expired')
          - else
            %dd
              = link_to content_tag('i', '', :class => 'ion-help-circled').html_safe, "",:class => 'text-blue', :title => t('statuses.pending')
      / /.box-body
    / /.box