/ /.box-header
/ form start
.box.box-primary
  .box-header
    %h3.box-title
    = simple_form_for(@currency) do |f|
      .box-body.form-inputs
        = render :partial => '/shared/errors', locals: {model: @currency}
        = f.input :name
        = f.input :code
        = f.button :submit, :class => 'btn btn-primary'
        = link_to t('views.form.cancel'), currencies_path, :class => 'btn btn-default'
