- breadcrumb :user, @user
- content_for :header do
  = @title
.row
  .col-md-6
    .box.box-solid.box-primary
      .box-header
        %h3.box-title= t('views.users.show.info')
        .box-tools.pull-right
          = link_to content_tag(:span, '', :class => 'glyphicon glyphicon-pencil'), edit_user_path(@user), :class => 'btn btn-primary btn-xs'
      / /.box-header
      .box-body.dl-horizontal
        %dl
          %dt= t('models.users.fields.name')
          %dd= @user.name
          %dt= t('models.advertiser.fields.email')
          %dd= mail_to @user.email
          %dt= t('models.users.fields.role')
          %dd= link_to @user.role.name, role_path(@user.role)