//Companion Ads
.panel.box.box-solid.box-primary
  .box-header
    %h4.box-title
      %a{href: '#companion-ad', data: {toggle: 'collapse'}}
        Companion Ad
  #companion-ad.option-params.panel-collapse.collapse{ class: "#{'in' if @vast.has_companion_ad? }"}
    .box-body
      = f.simple_fields_for :companion_ads do |c|
        .row
          .col-md-6
            = c.input :width, as: :integer, placeholder: '800'
          .col-md-6
            = c.input :height, as: :integer, placeholder: '600'
        = c.simple_fields_for :ad_resources do |c2|
          = c2.input :resource_type, collection: VastGenerator::AdResource::RESOURCE_TYPES, as: :grouped_select,group_method: :last, include_blank: 'Choose resource type', input_html: {class: 'select2-static'}
          .row
            .col-md-8
              = c2.input :url, label: 'Resource URL', placeholder: 'http://im-dev.s3.amazonaws.com/image_server/templates/campaign_16/video.mp4'
            .col-md-4
              = c2.input :media, as: :file, label: 'Upload File', input_html: {class: 'btn-file-input'}
        = c.input :click_through, label: 'Click Through URL', placeholder: 'http://im.l.dev.s3-website-eu-west-1.amazonaws.com/16/index.html'
        = c.simple_fields_for :click_trackings do |c2|
          = c2.input :url, label: 'Click Tracking URL', placeholder: 'http://pubads.g.doubleclick.net/gampad/clk?id=94677177&iu=/3595/NZ_Entertainment_MobGeo'
        = c.simple_fields_for :tracking_events do |c2|
          = c2.input :event, collection: VastGenerator::TrackingEvent::EVENTS, include_blank: 'Choose event type', input_html: {class: 'select2-static'}
          = c2.input :url, label: 'Tracking event URL', placeholder: 'http://ad.doubleclick.net/N3595/ad/trackingevents/;campaign=oid270981777adid94672737;sz=1x1'