- breadcrumb :<%= singular_table_name %>, @<%= singular_table_name %>
- content_for :header do
  = t('views.<%= plural_table_name %>.show.title')
.row
  .col-md-6
    .box.box-solid.box-primary
      .box-header
        %h3.box-title= t('views.<%= plural_table_name %>.show.info')
        .box-tools.pull-right
          = link_to content_tag(:span, '', :class => 'glyphicon glyphicon-pencil'), edit_<%= singular_table_name %>_path(@<%= singular_table_name %>), :class => 'btn btn-primary btn-xs'
      / /.box-header
      .box-body.dl-horizontal
        %dl
        <%- attributes.each do |attribute| -%>
          %dt= t('models.<%= singular_table_name %>.fields.<%= attribute.name %>')
          %dd= @<%= singular_table_name %>.<%= attribute.name %>
        <%- end -%>
      / /.box-body
    / /.box