= simple_form_for(@role) do |f|
  .form-inputs{ng: {controller: 'EditController'}}
    = render :partial => '/shared/errors', locals: {model: @role}
    .box.box-primary
      .box-header
        %h3.box-title Basic Information
      .box-body
        = f.input :name
    .box.box-primary
      .box-header
        %h3.box-title Permissions
      .box-body
        .row
          - Permission.grouped.each do |i|
            .col-md-6
              %label
                = f.input_field :permission_ids, name: 'role[permission_ids][]', type: 'checkbox', class: 'flat-red', value: i[1][0].id, checked: @role.has_permission?(i[1][0])
                = i[0]
    = f.button :submit, :class => 'btn btn-primary'
    = link_to t('views.form.cancel'), roles_path, :class => 'btn btn-default'
