%table.table.table-bordered{ id: 'campaign-app-table'}
  %thead
    %tr
      %th= t('views.campaign_details.fields.number')
      %th= t('views.campaign_details.fields.name')
      %th= t('views.campaign_details.fields.views')
      %th= t('views.campaign_details.fields.clicks')
      %th= t('views.campaign_details.fields.ctr')
  %tfoot
    %tr

