%table.table.table-bordered{ id: 'campaign-tracking-table'}
  %thead
    %tr
      %th= t('views.campaign_details.fields.group_name')
      %th= t('views.campaign_details.fields.views')
      %th= t('views.campaign_details.fields.clicks')
      %th= t('views.campaign_details.fields.ctr')

      - if can? :manage, Campaign
        %th= t('views.campaign_details.fields.actual_spend')
      - elsif agency_can_see_detail_campaign?(current_user)
        %th= t('views.campaign_details.fields.spend')

      - if can? :manage, Campaign
        %th= t('views.campaign_details.fields.ecpm')
        %th= t('views.campaign_details.fields.ecpc')

      %th= t('views.campaign_details.fields.date')
  %tfoot
    %tr
      %th Grand Total
      %th= number_with_delimiter(total.views)
      %th= number_with_delimiter(total.clicks)
      %th= total.ctr_formatted
      - if (can? :manage, Campaign) || agency_can_see_detail_campaign?(current_user)
        %th= total.spend_formatted
      - if (can? :manage, Campaign)
        %th= total.ecpm_formatted
        %th= total.ecpc_formatted
      %th
