%table.table.table-bordered{ id: 'campaign-pacing-table'}
  %thead
    %tr
      %th= t('views.campaign_details.fields.group_name')
      %th= t('views.campaign_details.fields.views')
      %th= t('views.campaign_details.fields.clicks')
      %th= t('views.campaign_details.fields.ctr')
      %th= t('views.campaign_details.fields.ad_group_pacing')
      %th= t('views.campaign_details.fields.ad_group_health')
  %tfoot
    %tr
      %th Grand Total
      %th= number_with_delimiter(total.views)
      %th= number_with_delimiter(total.clicks)
      %th= total.ctr_formatted
      %th= ""
      %th= ""
